@import "./variables";

footer {
  background-color: $clr-primary-800;
  display: grid;
  justify-items: center;
  padding: 4rem 1rem;
  font-size: 20px;
  scroll-snap-align: center;

  img {
    height: 6rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 2rem;
    font-size: 15px;
    text-align: center;
  }

  .socials {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;

    .footerIconWrapper {
      padding: 0.6rem 0.7rem;
      background-color: $clr-primary-400;
      color: $clr-primary-200;
      display: grid;
      align-items: center;
      font-size: 25px;
      overflow: hidden;

      &:hover {
        background-color: $clr-primary-500;
        scale: 1.15;
        transition: 0.5s ease;
      }

      &:hover.footerIconWrapper > * {
        animation: turn 0.5s;
      }

      @keyframes turn {
        from {
          translate: 0;
        }
        44% {
        }
        50% {
          translate: 0 2rem;
        }
        60% {
          translate: 0 -2rem;
          opacity: 0;
        }
        to {
          translate: 0;
        }
      }
    }
  }

  .copyright span {
    color: $clr-primary-500;
  }
}
