@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,500&family=Saira:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@500;600;700&display=swap");

@import "./variables";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  @include desktop {
    scroll-snap-type: y mandatory;
  }
}

:focus::placeholder {
  color: transparent;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: $clr-primary-800;
}

::-webkit-scrollbar-thumb {
  background-color: $clr-primary-200;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $clr-primary-200 $clr-primary-800;
    scrollbar-width: auto;
  }
}

#root {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Saira", sans-serif;
  color: $clr-primary-200;
}

.App {
  height: 100%;
  display: grid;
}

.logoVideo{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
