@import "./variables";

#intro {
  display: grid;
  grid-template-areas: "stack";
  scroll-snap-align: center;
  background-image: url(../assets/img/bkg5.jpg);
  background-position: center;
  background-blend-mode: saturation;
  height: 100vh;
  overflow-x: hidden;
  @include desktop {
    background-position-x: 88%;
    background-position-y: -95%;
  }

  & > * {
    grid-area: stack;
  }

  .introBody {
    padding: 3rem 1rem;
    display: grid;
    gap: 0.7rem;
    justify-content: center;
    align-content: center;
    font-size: 1.3rem;
    grid-template-columns: unset;
    width: min(75rem, 100%);
    margin-inline: auto;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    .info {
      display: grid;
      text-align: left;
      position: relative;
      align-self: start;
      gap: 1rem;
      @include desktop {
      }

      .jobTitle {
        font-size: clamp(35px, 5vw + 15px, 50px);
        font-weight: 600;
        line-height: 1.2em;

        .myName {
          font-weight: 600;
          color: $clr-primary-500;
        }
      }

      .writeUp {
        font-size: clamp(16px, 5vw + 1px, 23px);
        font-style: italic;
      }

      .introBtns {
        display: flex;
        gap: 1rem;
        @include desktop {
          gap: 4rem;
        }
      }
    }

    .myImg {
      display: none;
      justify-items: center;
      position: relative;
      @include tablet {
        display: grid;
      }

      & img {
        width: 20rem;
        mix-blend-mode: screen;
      }

      .socialIcons {
        position: absolute;
        display: grid;
        gap: 2rem;
        right: 2.4rem;
        bottom: 2.4rem;
        align-self: center;
        font-size: 25px;

        &::before {
          content: "";
          width: 40rem;
          height: 0.2rem;
          background-color: $clr-primary-500;
          position: absolute;
          bottom: -1.2rem;
          right: 0;
        }
        
        &::after {
          content: "";
          height: 20rem;
          width: 0.2rem;
          background-color: $clr-primary-500;
          position: absolute;
          bottom: 0;
          right: -1.2rem;
        }

        a {
          color: $clr-primary-200;

          &:hover {
            color: $clr-primary-500;
          }
        }
      }
    }

    .scrollDown {
      width: 25px;
      height: 40px;
      border-radius: 40px;
      border: 2px solid $clr-primary-500;
      position: absolute;
      bottom: 2rem;
      display: grid;
      justify-items: center;
      left: 50%;

      &:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $clr-primary-500;
        position: absolute;
        top: 5px;
        animation: extend 3s infinite;
        animation-delay: 1s;
      }

      animation: scroll 3s infinite;

      @keyframes scroll {
        10% {
          scale: 1.3;
        }
        40% {
          scale: 1;
          translate: 0;
        }
        70% {
          scale: 1;
          translate: 0 30px;
        }
        to {
          translate: 0;
        }
      }

      @keyframes extend {
        20% {
          height: 10px;
          border-radius: 20%;
        }
        to {
          height: 5px;
        }
      }
    }
  }
}
