@import "./variables";

#intro {
  display: grid;
  grid-template-areas: "stack";
  scroll-snap-align: center;
  background-image: url(../assets/img/bkg5.jpg);
  background-position: center;
  background-blend-mode: saturation;
  height: 100vh;
  overflow-x: hidden;
  @include desktop {
    background-position-x: 88%;
    background-position-y: -95%;
  }

  & > * {
    grid-area: stack;
  }

  .introBody {
    padding: 3rem 1rem;
    display: grid;
    gap: 0.7rem;
    justify-content: center;
    justify-self: center;
    align-items: center;
    font-size: 1.3rem;
    grid-template-columns: unset;
    width: min(75rem, 100%);
    margin-bottom: 1rem;

    @include desktop {
      grid-template-columns: 1fr 1fr;
    }

    .info {
      display: grid;
      text-align: left;
      position: relative;
      gap: 1rem;
      @include desktop {
      }

      .jobTitle {
        font-size: clamp(35px, 5vw + 17px, 50px);
        font-weight: 600;
        line-height: 1.2em;

        .myName {
          font-weight: 600;
          color: $clr-primary-500;
        }
      }

      .writeUp {
        font-size: clamp(16px, 5vw + 5px, 23px);
        font-style: italic;
      }

      .introBtns {
        display: flex;
        gap: 1rem;
        @include desktop {
          gap: 4rem;
        }
      }
    }

    .myImg {
      display: none;
      position: relative;
      @include desktop {
        display: grid;
        grid-template-columns: 85% 15%;
        justify-content: center;
      }

      .meImg {
        width: 20rem;
        display: grid;
        position: relative;
        margin-left: auto;
        
        img {
          width: 100%;
          mix-blend-mode: screen;
          position: relative;
          border-bottom: 4px solid $clr-primary-500;
        }
      }

      .socialIcons {
        display: grid;
        gap: 2rem;
        align-self: center;
        font-size: 25px;
        margin-left: auto;

        a {
          color: $clr-primary-200;

          &:hover {
            color: $clr-primary-500;
          }
        }
      }
    }

    .scrollDown {
      width: 23px;
      height: 35px;
      border-radius: 40px;
      border: 2px solid $clr-primary-500;
      position: absolute;
      bottom: 2rem;
      display: grid;
      justify-items: center;
      left: 50%;

      &:before {
        content: "";
        width: 3.5px;
        height: 3.5px;
        border-radius: 50%;
        background-color: $clr-primary-500;
        position: absolute;
        top: 5px;
        animation: extend 3s infinite;
        animation-delay: 1s;
      }

      animation: scroll 3s infinite;

      @keyframes scroll {
        10% {
          scale: 1.2;
        }
        40% {
          scale: 1;
          translate: 0;
        }
        70% {
          scale: 1;
          translate: 0 20px;
        }
        to {
          translate: 0;
        }
      }

      @keyframes extend {
        50% {
          height: 7px;
          border-radius: 40%;
        }
        to {
          height: 3.5px;
        }
      }
    }
  }
}
