@import "./variables";

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  z-index: 5;
  background-color: transparent;
  padding-block: 0.2rem;
  transition: all 1s ease;

  &Wrap {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    z-index: 5;
    width: min(75rem, 100%);

    img {
      width: 2rem;
      margin-left: 0.5rem;
    }

    .navIcons {
      display: flex;
      font-size: 20px;
      gap: 3rem;
    }

    .burger {
      display: grid;
      margin-left: auto;

      .menu {
        display: grid;
        cursor: pointer;
        height: 50px;
        width: 50px;
        place-content: center;
        border-radius: 50%;
        font-size: 32px;
        color: #cc2a21;
        margin-right: 0.5rem;

        &:hover {
          background-color: rgba(255, 255, 255, 0.199);
          transition: background-color 0.5s ease;
        }
      }

      .closeMenu {
        display: grid;
        cursor: pointer;
        place-content: center;
        border-radius: 50%;
        font-size: 30px;
        color: $clr-primary-800;
        height: 50px;
        width: 50px;
        border: 3px solid $clr-primary-800;
        margin-right: 0.5rem;

        &:hover {
          background-color: $clr-primary-500;
          border-color: $clr-primary-500;
          color: $clr-primary-200;
          rotate: 360deg;
          transition: background-color 0.5s, rotate 1s ease;
        }
      }
    }
  }

  .navMenu {
    position: fixed;
    opacity: 0;
    top: 3rem;
    height: 0;
    width: 0;
    background-color: $clr-primary-200;
    z-index: -1;
    color: $clr-primary-800;
    display: grid;
    grid-template-columns: unset;
    place-content: center;
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }

    .waysMade {
      display: none;
      justify-content: center;
      align-self: center;

      @include desktop {
        display: grid;
      }

      p {
        display: grid;
        .madeBy {
          font-size: 30px;
        }
        .ways {
          font-size: 80px;
        }
      }

      div {
        font-size: 30px;
      }
    }

    .menuLinks {
      display: grid;
      gap: 1rem;
      font-size: 50px;
      justify-self: left;
    }
  }
}

.navBorder {
  display: grid;
  height: 4px;
  width: 120%;
  background-color: $clr-primary-500;
  transition: 1s ease;
}
