@import "./variables";

#projects {
  display: grid;

  .projectCard {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 15% 80%;
    align-items: start;
    padding-block: 4rem 1rem;
    color: $clr-primary-200;
    overflow: hidden;
    scroll-snap-align: center;
    background-image: url(../assets/img/bkg5.jpg);
    background-position-x: 2050px;
    background-position-y: -130px;
    @include desktop {
      grid-template-rows: 10% 90%;
      background-position: center;
    }

    .projectCardBody {
      display: grid;
      padding-inline: 0.5rem;
      width: min(75rem, 100%);
      justify-self: center;
      align-self: center;
      gap: 1rem;
      @include desktop {
        grid-template-columns: 1fr 1.5fr;
        align-self: center;
        gap: 2rem;
      }

      .imgSlideIn {
        justify-self: center;
        @include desktop {
          order: 1;
        }
        .imgWrap {
          display: grid;
          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .projectCardText {
        display: grid;
        gap: 0.7rem;
        align-self: center;

        .projectName {
          font-size: 30px;
          color: $clr-primary-500;
          font-weight: 500;
        }

        .projectTitle {
          font-size: 20px;
          font-weight: 500;
          color: gray;
        }

        .projectDes {
          font-size: 18px;
          line-height: 1.4em;
        }

        .builtWith {
          font-weight: 500;
          line-height: 1.7em;
          span {
            font-size: 18px;
            color: $clr-primary-500;
            font-size: 20px;
          }
        }

        .projectBtns {
          display: flex;
          gap: 2rem;

          & > * {
            border: none;
            background: none;
          }

          .projectGithubBtn {
            border: none;
            background: none;
            font-size: 17px;
            display: flex;
            gap: 0.3rem;
            align-items: center;
            justify-content: left;
            color: $clr-primary-200;
            cursor: pointer;

            &:hover {
              color: $clr-primary-500;
            }

            &:hover > :last-child {
              translate: 5px -2px;
              transition: translate 0.5s ease;
            }
          }

          .projectSiteBtn {
            color: $clr-primary-400;
            @extend .projectGithubBtn;
          }
        }
      }
    }
  }
}
// }

// .projectCardWrap {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   scroll-snap-align: center;
//   perspective: 500px;

//   .proCardDiv {
//     width: 100%;
//     height: 100vh;
//     min-height: 90vh;
//     position: relative;
//     margin: 20px;
//     background-color: blue;
//     overflow: hidden;
//   }

//   .projectCard {
//     display: none;
//     position: absolute;
//     margin: 0;
//     background: var(--white);
//     // overflow: hidden;
//     color: $clr-primary-200;
//     // display: grid;
//     grid-template-columns: 35% 65%;

//     a {
//       display: grid;
//       img {
//         // rotate: 0;
//         width: 100%;
//         height: auto;
//         // justify-self: right;
//         @include desktop {
//           // rotate: 5deg;
//           // width: 80%;
//         }
//       }

//       @include desktop {
//         order: 1;
//       }
//     }

//     }
//   }
// }
